@import '../../../styles/styles.scss';

.templates {
  width: 530px;

  &__button {
    width: 100%;
    height: 33px;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
