$bgc-primary: #e5e5e5;
$bgc-secondary: #fff;

$dark-primary: #000;

$menu-text-color: #a6a6a6;
$menu-counter-backgroung: #d7d7d7;
$menu-counter-text: #f9fafb;

$feedback-good: #7fee7d;
$feedback-bed: #ec5248;
$feedback-border: #e6e8ec;

$input-border: #e0e3e7;
