@import './colors.scss';

* {
  position: relative;

  margin: 0;
  padding: 0;

  border: 0;
  outline: 0;

  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: $bgc-primary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ol, ul, summary {
  list-style: none;
}

img {
  display: block;
}
