@import "../../../../styles/styles.scss";

.button {
  @extend %roboto-semi-light-12;
  width: 121px;
  height: 33px;
  color: $bgc-secondary;
  background-color: $dark-primary;
  transition: transform 500ms;

  &--gray {
    color: $dark-primary;
    background-color: $menu-counter-backgroung;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

  &__wrap {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;

    
    &-2 {
      justify-content: space-between;
    }
  }
}
