@import "../../../../styles/styles.scss";

.inputsTemplate {
  margin-top: 60px;

  &--wrap {
    margin-bottom: 21px;
  }

  &__title {
		@extend %roboto-semi-bold-16;
		margin-bottom: 42px;
	}

  &__label {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 3px;
    @extend %roboto-semi-light-12;
    color: $dark-primary;
  }

  &__input {
    @extend %roboto-regular-12;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding: 10px 8px;
    width: 100%;
    height: 34px;
    color: $dark-primary;
    background: $bgc-secondary;
    border: 1px solid $input-border;
  }
}
